<!DOCTYPE html>
<html>
  <head>
    <title>Deadly smoke</title>
    <%= css :app %>
    <%= js :app %>
  </head>
  <body>
    <div id="header">
      <span>Deadly Smoke</span>
    </div>
    <%= yield %>
  </body>
</html>
